@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


ion-card {
  --background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important; 

}
ion-title {
  text-align: center;
  font-family: 'Bungee Outline', cursive;
}

ion-header {
  --background: rgb(248, 81, 81);
    background:  rgb(248, 81, 81);
}


ion-card-title {
  font-family: 'Bungee Outline', cursive;
}

h2 {
  font-family: 'Teko', sans-serif;
}

ion-img {
  
  height: 35px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 0 28px 28px;
  box-shadow: none;
}

@media only screen and (min-width: 961px) {
  ion-img {
      text-align: center;  
      height: 50px;
  }
}

.hotchicken {
  font-family: 'Bungee Outline', cursive;
  text-align: center;
}
